.search-bar {
  padding: 1rem;
}
.search-input {
  width: 5rem !important;
}
.icon {
  cursor: pointer;
  padding-left: 2rem;
}
.cart-product-icon {
  cursor: pointer;
  margin-top: auto;
}
.search-icon {
  cursor: pointer;
}
.main-container{
  height: 100%;
}

.product-img {
  max-height: 310px;
  min-height: 286px;
}

.product-card {
  margin: 0.5rem;
}

.categories-item {
  cursor: pointer;
}
.store-name {
  cursor: pointer;
}
.display-nav{
  display: block !important;
}
@media screen and (max-width: 1399px) {
  .row-justify{
    justify-content: center;
  }
}
@media screen and (min-width: 772px) and (max-width: 992px) {
  .category-size {
    width: 50% !important;
    margin-left: 15rem !important;
  }
}
@media screen and (max-width: 772px) {
  .category-size {
    width: 95% !important;
    margin: 0 0 1rem 1rem;

  }

}
@media screen and (max-width: 991px) {
  .align-title {
    text-align: center !important;
  }
}
@media screen and (min-width: 992px) {
  .store-name {
    float: right !important;
  }
  .align-title{
    margin-left: 5rem !important;
  }
}
@media screen and (min-width: 1281px) {
  .column-size {
    width: 18rem !important;
  }
}